@charset "UTF-8";

header {
    background: image(#0065B7, #1995B1);
}

main {
    background-color: #1995B1;
    width: 500px;
    padding: 20px;
}

form {
    background-color: darkmagenta;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
}

.mail {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

#btn {
    margin: 10px;
    width: 150px;
    height: 80px;
    border: none;
    border-radius: 10px;
}