@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e6e66f;
}

main {
    margin: auto;
}

h1 {
    margin-left: 20px;
}

p {
    text-transform: uppercase;
    background-color: blueviolet;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}